.block{
    width: 500px;
    height: 500px;
    background-color: #fff;
    border: 2px solid black;
}
.square{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    transition: transform 300ms;
}
.block:hover.square{
    transform: translateX(100%);
}